@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #5E8B7E;
    --exDark: #2F5D62;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
    
}

body{
    line-height: 1.4;
    color: var(--dark);
}

img{
    width: 100%;
    display: block;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4)), url(images/banner-bg.jpg) 
    center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background:rgba(94, 139, 126,0.6);
    padding: 1.3rem;
}
.navbar-title {
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    opacity: 0.7;
}
.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;

}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--exDark);
}


/*blog*/
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
    color: var(--exDark);
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.blog{
    background: #fff;
    padding: 4.5rem 0;
}
.blog-content{
    margin: 1rem 0;
}
.blog-img{
    position: relative;
}
.blog-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--exDark);
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}
.blog-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-text span{
    font-weight: 600;
    display: block;
    padding-bottom: 0.5rem;
    color: #808080; 
}
.blog-text h2{
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    color:var(--exDark);
    font-weight: 800;
}
.blog-text p{
    font-weight: 600;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
    color: #808080;
}
.blog-text a{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-block;
    background: var(--exDark);
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
.blog-text a:hover{
    background: var(--dark);
}

/* footer */
footer{
    background: var(--exDark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #fff;
    color: var(--exDark);
}
.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}

/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
}
